.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  width: 200px;
  /*border-radius: 12px;*/
}

i, a{
  cursor: pointer;
}

.Search {
  margin-left: 1rem;  
  margin-right: 1rem;
}
.Search-Btn {
  margin-left: 1rem;  
  margin-right: 1rem;
  
}
.cartItem{
  transform: translate(-122px,0);
  width: 1200px;
}

.biggerMarginT{
  margin-top: 90px;
}

.cartCheckoutDiv{
  width: 300px;
  height: 300px;

  border-radius: 8px;
  position: fixed;
  top: 14%;
  right: 1%;
}

.top{
  position: fixed;
  top: 5%;
  right: 40%;
}

.carousel-container {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.card-style {
  justify-content: right;
}

.navbar-color {
  background-color: #cba673;
}

.navbar{
  img{
    cursor: pointer;
  }
}

.nav-search {
  width: 80%;
  margin-right: 50px;

}